*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

/* ------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 15vh;
    display: block;
    position: fixed;
    background-color: black;
    font-family: monospace;
    border-bottom: 1px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

/* ------------------------------------------------------------------------------- */

p span {
    color: rgb(55, 205, 55);
}

/* ------------------------------------------------------------------------------- */

footer {
    height: 5vh;
    background-color: black;
    display: fixed;
    position: relative;
    color: ghostwhite;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

/* ------------------------------------------------------------------------------- */

.logo_container{
    height: 100%;
    width: 50%;
    display: flex;
    float: left;
    padding-left: 15px;
    position: relative;
    align-items: center;
}

.logo_container a:hover{
    opacity: 80%;
}

.logo_container h1{
    
    color:rgb(55, 205, 55);
    height: fit-content;
    display: flex;
    font-size: 40px;
    font-weight: 1000;
    padding-left: 10px;
}

.logo_container h1 span {
    font-weight: 400;
    font-size: 35px;
    color:ghostwhite;
    padding-top: 5px;
    padding-left: 10px;
}

/* ------------------------------------------------------------------------------- */

.navigation {
    width: 40%;
    float: right;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: right;
}

.navigation a {
    display: flex;
    float: right;
    align-items: center;
    padding-right: 25px;
    cursor: pointer;
    
}

.navigation a li {
    color: ghostwhite;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 14px;
}

.navigation a li:hover {
    text-decoration: underline;
    text-decoration-color: ghostwhite;
    text-decoration-thickness: 1px;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

/* ------------------------------------------------------------------------------- */

#jogo {
    padding-top: 17vh;
    padding-left: 15px;
    height: 80vh;
    width: 100%;
    background-color: black;
    border-bottom: 2px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

#jogo h1 {
    color: ghostwhite;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------- */

#download {
    padding-top: 17vh;
    padding-left: 15px;
    height: 80vh;
    width: 100%;
    background-color: black;
    border-bottom: 2px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

#download h1 {
    color: ghostwhite;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------- */

#como-jogar {
    padding-top: 17vh;
    padding-left: 15px;
    height: 80vh;
    width: 100%;
    background-color: black;
    border-bottom: 2px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

#como-jogar h1 {
    color: ghostwhite;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------- */

#sobre-nos {
    padding-top: 17vh;
    padding-left: 15px;
    height: 80vh;
    width: 100%;
    background-color: black;
    border-bottom: 2px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

#sobre-nos h1 {
    color: ghostwhite;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------- */

#contatos {
    padding-top: 17vh;
    padding-left: 15px;
    height: 80vh;
    width: 100%;
    background-color: black;
    border-bottom: 2px;
    border-color: rgb(43, 43, 43);
    border-bottom-style: solid;
}

#contatos h1 {
    color: ghostwhite;
    font-size: 40px;
}