*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    background-color: rgb(39, 49, 21);
    border-color: rgb(20, 103, 52);
}

/* ------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 15vh;
    display: block;
    position: fixed;
    border-bottom: 3px;
    border-bottom-style: solid;
    font-family: fantasy;
}

/* ------------------------------------------------------------------------------- */

body {
    font-family: system-ui;
}

/* ------------------------------------------------------------------------------- */

p span {
    color: rgb(205, 25, 25);
}

/* ------------------------------------------------------------------------------- */

footer {
    height: 5vh;
    display: fixed;
    position: relative;
    color: ghostwhite;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

/* ------------------------------------------------------------------------------- */

.logo_container{
    height: 100%;
    width: 50%;
    display: flex;
    float: left;
    padding-left: 15px;
    position: relative;
    align-items: center;
}

.logo_container a:hover{
    opacity: 80%;
}

.logo_container h1{
    
    color:rgb(55, 205, 55);
    height: fit-content;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    padding-left: 10px;
}

.logo_container h1 span {
    font-weight: 300;
    font-size: 35px;
    color:ghostwhite;
    padding-top: 5px;
    padding-left: 10px;
}

/* ------------------------------------------------------------------------------- */

.navigation {
    width: 40%;
    float: right;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: right;
    font-family: system-ui;
}

.navigation a {
    display: flex;
    
    float: right;
    align-items: center;
    padding-right: 25px;
    cursor: pointer;
    
}

.navigation a li {
    color: ghostwhite;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.navigation a li:hover {
    text-decoration: underline;
    text-decoration-color: ghostwhite;
    text-decoration-thickness: 1px;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

/* ------------------------------------------------------------------------------- */

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    transition: 0.5s ease;
    cursor: pointer;
    height: fit-content;
    width: 200px;
    height: 20%;
}

.button a {
    display: flex;
    align-items: center;
    height: fit-content;
}

.button:hover{
    opacity: 30%;
}

/* ------------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: row;
    color: ghostwhite;
    padding: 20px;
    height: 80vh;
}

/* ------------------------------------------------------------------------------- */

.container {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    color: ghostwhite;
}

/* ------------------------------------------------------------------------------- */

.txt-img {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 20%;
    margin: 3%;
    align-items: center;
    margin-bottom: 20px;
}

.txt-img a {
    height: 100%;
}

.txt-img a:hover {
    opacity: 80%;
}

.txt-img h1 {
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.txt-img img {
    border-style: solid;
    border-color: black;
    height: 40%;
    display: block;
    margin: 2%;
    margin-bottom: 5%;
    width: 100%;
}

.txt-img p{
    margin: 5%;
}

/* ------------------------------------------------------------------------------- */

#jogo {
    padding-top: 17vh;
    padding-left: 20px;
    height: 80vh;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#jogo h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

#jogo .content img{
    width: 100vh;
    height: 50vh;
    margin: 3vh 5vh;
}

#jogo .txt-img{
    font-size: 18px;
    width: auto;
    height: 70%;
    color: ghostwhite;
    float: left;
}

/* ------------------------------------------------------------------------------- */

#download {
    padding-top: 17vh;
    padding-left: 20px;
    height: 80vh;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#download h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

#download img {
    width: 20%;
    height: 55%;
}

/* ------------------------------------------------------------------------------- */

#como-jogar {
    padding-top: 17vh;
    padding-left: 20px;
    height: 80vh;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#como-jogar h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

/* ------------------------------------------------------------------------------- */

#sobre-nos {
    padding-top: 17vh;
    padding-left: 20px;
    height: 80vh;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#sobre-nos h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

/* ------------------------------------------------------------------------------- */

#contatos {
    padding-top: 17vh;
    padding-left: 20px;
    height: 80vh;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#contatos h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

/* ------------------------------------------------------------------------------- */

#log {
    padding-top: 17vh;
    padding-left: 20px;
    height: auto;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
}

#log h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
}

/* ------------------------------------------------------------------------------- */

#commits {
    width: 100%;
    margin-top: 3%;
    text-align: center;
}